	<style>
			h1, h2 {
				color: blue;
				text-decoration: underline;
			}
			body {
				font-family: "monaco";
				background-color: green;
				background-image: url("http://eskipaper.com/images/tumblr-backgrounds-9.jpg")
			}
			ul{
				list-style: square;
			}
			th, td {
				padding: 3px;
			}
			th {
				font-weight: bold;
				text-decoration: underline;
			}
			a:link {
				color: red;
			}
			a:visited{
				color: red
			}
			a:hover{
				color: blue;
			}
			a:active {
				color: green;
			}
		</style>